/* основной цвет #ffffff */
/* цвет футера и героя #2F303A  */
/* цвет черного текста #212121 */
/* цвет акцента #2196F3 */
/* цвет фона background: #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* вторичный цвет текста #757575 */
/* цвет ссылок на футере color: rgba(255, 255, 255, 0.6) */


/* ------------переменные------------- */
:root {
    --secondary-color: #757575;
    --prime-color: #212121;
    --accent-color: #2196F3;
    --background-color: #ffffff;
    --typical-margin: 20px;
}
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
    margin-left: auto;
    margin-right: auto; }
 
 
ul {
    margin: 0%;
    padding-left: 0%;

}
      
body {
    font-family: Roboto, sans-serif;
    color: var(--prime-color);
    background-color: var(--background-color);
    letter-spacing: 0.03em;

}

img {
    display:block;
    max-width: 100%;

}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}
/* Header */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: var(--background-color);
    border-bottom: 1px solid #ececec; 

}

  .header .container {
    display: flex;
    align-items: center;
    }
.logo {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #212121;
    margin-right: 94px;
}


.navigation,
.navigation-list {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
}
.navigation-list {
    display: flex;
}
.navigation-item:not(:last-child) {
    margin-right: 50px;
}

.contact-list .contact-link:not(:last-child) {
    margin-right: 50px;
}
.contact-link > .link {
  display: flex;
}
.logo-blue {
    color: var(--accent-color);
}

.link {
    text-decoration: none;
    color: var(--secondary-color);
   
}

.icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

.navigation-item > .link {
    color: var(--prime-color);
}

.navigation-item > .curent {
    color: var(--accent-color);

}

.link:hover,
.link:focus {
    color: var(--accent-color);
}



.contact-list {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-color);
    display: flex;
    margin-left: auto;
}
/* .haeder-connect {
    margin-left: auto;
    
} */
/* -----------------------------------------------Hero------------------------------ */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    padding: 200px 0;
    text-align: center;
    background-color: #2F303A;
}

.hero-title {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    
        width: 696px;
        margin-bottom: 30px;
}

.hero-btn {
        font-family: inherit;
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        min-width: 200px;
        padding: 10px 32px;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: #ffffff;
    
        cursor: pointer;
   
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188ce8;
}

/* ---------------------------------------------------features */
.features {
    padding-top: 94px;
    
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-list {
    list-style: none;
    display: flex;
    gap: 30px;

}
.features-item {
    width: 270px;
    
}
.features-item:not(:last-child) {
    margin-right: 30px;
}
.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.features-item::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;}

    .icon-antahena::before {
    background-image: url(../images/icons-svg/antahena.svg);
  }
  .icon-clock::before {
    background-image: url(../images/icons-svg/clock.svg);
  }
  .icon-diagramm::before {
    background-image: url(../images/icons-svg/diagramm.svg);
  }
  .icon-cosman::before {
    background-image: url(../images/icons-svg/cosman.svg);}


/* -----------------------------------------------------Чем мы занимаемся----------------- */
.busines {
    padding: 94px 0;
}

.busines-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px
}

.busines-list {
    display: flex;
    list-style: none;
}

.busines-item {
    margin-right: 30px;
        
}



.busines-item:not(:last-child) {
    margin-right: 30px;
}
/* ---------------------------------------------------------team-------------------- */
.team {
    background-color: #F5F4FA;
    padding: 94px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--prime-color);
   
}

.team-list {
    list-style: none;
    display: flex;
   
}
.team-soc-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    
}

.team-member:not(:last-child) {
    margin-right: 30px;
}
.team-member {
    background-color: var(--background-color);

    
}
.worker {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.worker-soc-link:hover,
.worker-soc-link:focus {
  background-color: var(--accent-color);
}
.worker-soc-link:hover .icon-social,
.worker-soc-link:focus .icon-social {
  background-color: var(--accent-color);
  fill: var(--background-color);
}

.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--prime-color);
    margin-bottom: 10px;
}

.team-position {
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-color);
}
/* ------------------------------------------------------------------клиенты */

.customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  
    margin-bottom: 50px;
  
    color: var(--prime-color);
  }
  
  .customers-logo-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .customer-logo {
    height: 92px;
    width: 170px;
  }
  
  .customer-logo:not(:last-child) {
    margin-right: 30px;
  }
  
  .customer-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  }
  
  .customer-logo-icon {
    fill: var(--secondary-color);
  }
  
  .customer-logo-icon:hover,
  .customer-logo-icon:focus {
    fill: var(--accent-color);
  }
  
  .customer-link:hover .customer-logo-icon,
  .customer-link:focus .customer-logo-icon {
    fill: var(--accent-color);
  }
  .customer-link:hover,
  .customer-link:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
/* ------------------------------------------------------------------footer */
footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}


address {
    font-style: normal;
     margin-top: 20px;
    }
   

.adress-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 9px;

    padding-left: 0;

}

.adress>.link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.contact {
    color: rgba(255, 255, 255, 0.6);
}

footer .logo {
    color: #ffffff;
        margin-right: 0;
       
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social {
  fill: #ffffff;
}

.footer-social-item {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-block:nth-child(2) {
  margin-left: 70px;
  margin-bottom: 100px;
  margin-top: 12px;
}

/* =================================================Portfolio--------------------------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--prime-color);
}

.portfolio-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.portfolio-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-cards {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-items {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.filter-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prime-color);
  border-radius: 4px;
  border: none;

  cursor: pointer;
  padding: 6px 22px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background: #2196f3;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}